
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}
<link href="~/Content/trangchu.css" rel="stylesheet" />
<!-- Breadcrumb Buttons-->
<div id="TrangChuNoDN">
    <div class="overlap">
        <img src="~/Assets/banner.png" class="img-fluid">
    </div>
    <div id="btnDangNhap">
        <p class="textBtn">Đăng Nhập</p>
    </div>
    <div id="btnDangXuat">
        <p class="textBtn">Đăng Xuất</p>
    </div>
</div>
