@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/Content/bootstrap5/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/TrangChu.css" rel="stylesheet" />
<!-- Breadcrumb Buttons-->
<div id="TrangChuNoDN">
    <div class="overlap">
        <img src="~/Images/HomePage_Header/HomePage_Banner.png" class="img-fluid">
    </div>
</div>
    