@model List<DrieUnityGarage.Models.THONGTINPHUONGTIEN>
@{
    ViewBag.Title = "TaoTTTN_LayThongTinXe";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@foreach (var a in Model)
{
    <div> @a.BienSoXe</div>
}
