@using DrieUnityGarage.Models
@foreach (var a in Model)
{
    <div style="display:inline; margin-left:50px">
       Khách hàng:
        <div class="form-control" style="display:inline">@a.TN_MaKH</div>
    </div>
    <div style="display:inline; margin-left:50px;">
        Ngày  tiếp nhận
        <div class="form-control" style="display:inline">
            
        </div>

    </div>

}
