<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>DrieUnity Garage | @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/HomePage_Layout.css" />
    <link rel="stylesheet" href="~/Content/bootstrap5/css/bootstrap.css" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <script src="~/Content/bootstrap5/js/bootstrap.js"></script>
</head>

<body id="login-background">
    <div>
        @RenderBody()
    </div>
</body>
</html>
