<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/headerfigma.css" rel="stylesheet" />
    <link href="~/Content/sidebars.css" rel="stylesheet" />
</head>
<body>

    <div style="width:100%;height:110px">
        <div class="box">
            <div class="group-wrapper">
                <div class="group">
                    <div class="overlap-group">
                        <div class="overlap">
                            <div class="garage">GARAGE404</div>
                            <div class="garage">GARAGE404</div>
                            <img class="logo" alt="Logo" src="~/Assets/logo.png" />
                        </div>
                        <h1 class="text-wrapper">GARAGE404</h1>
                        <p class="p">Sửa chữa mọi loại xe</p>
                        <div class="div">Sđt: 09314235578</div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div style="width:100%">
        <div style="width: 15%; height: 1024px; float: left; background-color: #ACF5F2">
            <div class="flex-shrink-0" style="width: 100%; height: 100%">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
                    <span class="fs-5 fw-semibold">Menu</span>
                </a>
                <ul class="list-unstyled ps-0" style=" background-color: #ACF5F2">
                    <li class="mb-1">
                        <button class="btn btn-toggle rounded" data-bs-toggle="collapse" aria-expanded="true">
                            Quản lý khách hàng
                        </button>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle rounded " data-bs-toggle="collapse" data-bs-target="#CSKH-collapse" aria-expanded="false">
                            Quản lý CSKH
                        </button>
                        <div class="collapse" id="CSKH-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Danh sách phản hồi dịch vụ</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách sổ theo dõi bảo dưỡng</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách bảo hành</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle rounded " data-bs-toggle="collapse" data-bs-target="#HH-collapse" aria-expanded="false">
                            Quản lý hàng hoá
                        </button>
                        <div class="collapse" id="HH-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Cập nhật giá bán</a></li>
                                <li><a href="#" class="link-dark rounded">Tạo bảng giá</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách hàng hoá</a></li>
                                <li><a href="#" class="link-dark rounded">Tra cứu hàng hoá</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle rounded " data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                            Quản lý nhà cung cấp
                        </button>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle rounded " data-bs-toggle="collapse" data-bs-target="#NV-collapse" aria-expanded="false">
                            Quản lý nhân viên
                        </button>
                        <div class="collapse" id="NV-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Danh sách nhân viên</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách tài khoản nhân viên</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle rounded " data-bs-toggle="collapse" aria-expanded="false">
                            Quản lý thông tin xe
                        </button>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle rounded " data-bs-toggle="collapse" data-bs-target="#XNK-collapse" aria-expanded="false">
                            Quản lý xuất nhập
                        </button>
                        <div class="collapse" id="XNK-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Danh sách báo cáo</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách phiếu nhập</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách phiếu xuất</a></li>
                                <li><a href="#" class="link-dark rounded">Kiểm kê kho hàng</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle rounded " data-bs-toggle="collapse" data-bs-target="#TC-collapse" aria-expanded="false">
                            Quản lý tài chính
                        </button>
                        <div class="collapse" id="TC-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Danh sách báo cáo doanh thu</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách phiếu thu</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle rounded " data-bs-toggle="collapse" data-bs-target="#DH-collapse" aria-expanded="false">
                            Quản lý đơn hàng
                        </button>
                        <div class="collapse" id="DH-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Danh sách hoá đơn</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách đánh giá tình trạng xe</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách xác nhận bàn giao</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách báo giá</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle rounded " data-bs-toggle="collapse" data-bs-target="#DV-collapse" aria-expanded="false">
                            Quản lý dịch vụ
                        </button>
                        <div class="collapse" id="DV-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Danh sách trả góp</a></li>
                                <li><a href="#" class="link-dark rounded">Danh sách đặt lịch</a></li>
                            </ul>
                        </div>
                    </li>



                    @*<li class="border-top my-3"></li>
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                Đăng xuất
                            </button>
                            <div class="collapse" id="account-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark rounded">New...</a></li>
                                    <li><a href="#" class="link-dark rounded">Profile</a></li>
                                    <li><a href="#" class="link-dark rounded">Settings</a></li>
                                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                                </ul>
                            </div>
                        </li>*@
                </ul>
            </div>
        </div>
        <div style="width:85%; height:550px;background-color:#ccc;float:right">
            @RenderBody()
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
