.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .box .group-wrapper {
        border: 0px none;
        height: 110px;
        overflow-x: hidden;
        width: 100%;
    }

    .box .group {
        height: 110px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .box .overlap-group {
        background: linear-gradient(90deg, rgb(172, 245, 242) 0%, rgb(146, 147, 211) 100%);
        height: 110px;
        position: relative;
        width: 100%;
    }

    .box .overlap {
        height: 93px;
        left: 1234px;
        position: absolute;
        top: 7px;
        width: 141px;
    }

    .box .garage {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #fdcb1d;
        background: linear-gradient(180deg, rgb(136.2, 48.07, 0) 0%, rgb(7.33, 7.64, 7.59) 100%);
        background-clip: text;
        color: transparent;
        font-family: "Inter-MediumItalic", Helvetica;
        font-size: 20px;
        font-style: italic;
        font-weight: 500;
        height: 24px;
        left: 0;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        text-align: center;
        text-fill-color: transparent;
        top: 69px;
        white-space: nowrap;
        width: 141px;
    }

    .box .logo {
        height: 72px;
        left: 18px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 108px;
    }

    .box .text-wrapper {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #fdcb1d;
        background: linear-gradient(180deg, rgb(136.2, 48.07, 0) 0%, rgb(7.33, 7.64, 7.59) 100%);
        background-clip: text;
        color: transparent;
        font-family: "Inter-MediumItalic", Helvetica;
        font-size: 40px;
        font-style: italic;
        font-weight: 500;
        height: 48px;
        left: 168px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        text-align: center;
        text-fill-color: transparent;
        top: 2px;
        white-space: nowrap;
        width: 330px;
    }

    .box .p {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(180deg, rgb(136.2, 48.07, 0) 0%, rgb(7.33, 7.64, 7.59) 100%);
        background-clip: text;
        color: transparent;
        font-family: "Inter-MediumItalic", Helvetica;
        font-size: 30px;
        font-style: italic;
        font-weight: 500;
        left: 356px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        text-fill-color: transparent;
        top: 60px;
        width: 346px;
    }

    .box .div {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(180deg, rgb(136.2, 48.07, 0) 0%, rgb(7.33, 7.64, 7.59) 100%);
        background-clip: text;
        color: transparent;
        font-family: "Inter-MediumItalic", Helvetica;
        font-size: 30px;
        font-style: italic;
        font-weight: 500;
        left: 850px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        text-fill-color: transparent;
        top: 68px;
        white-space: nowrap;
        width: 370px;
    }
