@using DrieUnityGrage.Models



@foreach (var hdh in Model)
{
    <div class="form-group">
        Tên khách hàng
        <div class="col-md-10">
            @hdh.lstThongTin[0]
        </div>
    </div>
}